<div class="row">
  <div class="col-xs-10 col-xs-offset-1">
    <h1 class="text-center">My Registered Apps:</h1>
    <p class="text-center"><%= link_to "Register New App", new_registered_application_path, class: 'btn btn-success' %></p>
    <br></br>
    <table class="table">
      <thead>
        <tr>
          <th class="text-center">App Name</th>
          <th class="text-center">Read</th>
          <th class="text-center">Delete</th>
        </tr>
      </thead>
      <tbody>
        <% @registered_applications.each do |app| %>
          <tr>
            <td class="text-center"><%= link_to app.name, registered_application_path(app) %></td>
            <td class="text-center"><%= link_to "Read", read_app_path(app) %></td>
            <td class="text-center"><%= link_to "Delete", registered_applications_path(app), method: :delete %></td>
          </tr>
        <% end %>
      </tbody>
    </table>
    
  </div>
</div>
