<div class="row">
  <div class="jumbotron col-xs-12">
    <h1 class="text-center">Welcome to Blocmetrics!</h1>
    <p class="text-center">The only tracking service you will ever need!</p><br>
    <p class="text-center">
      <%= link_to "Sign Up", root_path, class: 'btn btn-primary btn-lg' %>&nbsp;<%= link_to "Log In", root_path, class: 'btn btn-primary btn-lg' %>
    </p>
  </div>
</div>

<div class="row text-center">
  <div class="col-xs-6">
    <div class="circ img-circle">
      <h1 class="text-center"><span class="glyphicon glyphicon-wrench icon white"></span></h1>
    </div>
    <p class="taggie">We'll do it automatically for you :)<br>Our service is 24/7.</p>
  </div>
  <div class="col-xs-6">
    <div class="circ img-circle">
      <h1 class="text-center"><span class="glyphicon glyphicon-thumbs-up icon white" aria-hidden="true"></span></h1>
    </div>
    <p class="taggie">Easy on your wallet <span class="glyphicon glyphicon-heart red"></span><br> Our service is completely free! </p>
 </div>
</div>